body {
	font-family: 'Silkscreen', cursive;
	text-align: center;
	background-color: #25034c;
}

h1 {
	font-size: 4em;
	color: #64dfdf;
	margin: 0.5em;
}

button {
	font-size: 2em;
	font-family: 'Silkscreen', cursive;
	background-color: #4ea8de;
	border: solid 2px white;
	border-radius: 2px;
	color: white;
	box-sizing: border-box;
}

button:hover {
	background-color: #5390d9;
}

button:active {
	border: solid 5px white;
	box-sizing: border-box;
}

img {
	max-width: 750px;
	max-height: 800px;
}

h2,
h3,
p {
	padding-bottom: none;
	color: #64dfdf;
}

div {
	margin: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	color: #3b037a;
}

@media (max-width: 400px) {
	h1 {
		font-size: 3em;
	}

	img {
		max-width: 375px;
		max-height: 600px;
	}
}
